<ion-header width= "70%">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
     <img width="30%" src="assets/Spotify.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor = "let track of playlist" (click)="start(track)">
      <ion-label [color] = "track == activeTrack ? 'success' : 'light'" >
        <ion-label>{{track.name}}</ion-label>  
        <ion-label [color] = "track == activeTrack ? 'success' : 'danger'"><h6>{{track.artist}}</h6></ion-label>       
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer *ngIf="activeTrack">
  <ion-toolbar color="dark">
    <ion-row>
      
      <ion-col size="12" class="ion-text-center">
       <p>
        {{activeTrack.name}} <br> {{activeTrack.artist}}
       </p> 
      </ion-col>

      <ion-col size="12">
        <ion-range #range [(ngModel)] = "progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
      </ion-col>

      <ion-col size="12" class="ion-text-center">

        <ion-button fill="clear" (click) = "prev()" color="light">
          <ion-icon slot="icon-only" name="caret-back"></ion-icon>
        </ion-button>
       
        <ion-button fill="clear" (click) = "togglePlayer(false)" *ngIf="!isPlaying" color="light">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>       

        <ion-button fill="clear" (click) = "togglePlayer(true)" *ngIf="isPlaying" color="light">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click) = "next()" color="light">
          <ion-icon slot="icon-only" name="caret-forward"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>